/* ---- Base Rules ---- */
body {
    background: rgb(255,181,167);
    background: linear-gradient(0deg, rgba(252,213,206,1) 0%, rgba(249,220,196,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #4a0f0b;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    margin: 3em 1rem;
}

h2 {
    border-bottom: 1px solid #4a0f0b;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 1.5em;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 5em;
        margin: 2em 4rem 1em;
    }
    h2 {
        font-size: 3em;
        color: #fff;
    }
}

p {
    line-height: 1.6em;
    color: #4a0f0b;
    text-align: justify;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

img {
  width: 500px;
  height: 350px;
}

@media only screen and (max-width: 35em){
    img {
      width: 200px;
      height: 120px;
    }
}
/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 1em;
}

.nav__elements {
  color: #4a0f0b;
  font-weight: bold;
  text-decoration: none;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* Header Styles */
.page__header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: white;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #4a0f0b;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* my active navbar item*/
.active {
text-transform: uppercase;
text-decoration: overline;
}
